.sidenav a{
	text-decoration: none;
}

.nav-wrapper > a {
	text-decoration: none;
	/* font-family: 'Pacifico', cursive; */
}

.nav-wrapper > a:hover {
	color: white;
}

.hvr-grow {
    text-decoration: none;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	text-decoration: none;
	color: white;
}

/* .slider .indicators .indicator-item.active{
	background-color: #ee6e73 !important;
} */

.food-card img {
    height: 170px;
    object-fit: cover;
}

.btn-block {
    width: 100%;
}

.fcarousel img {
	height: 500px;
	object-fit: cover;
}

@media(max-width : 992px) {

	.nav-wrapper > a:hover {
		color: black;
	}
	
}